<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-12">
        <div ng-show="isProvider" class="col-md-2" style="padding-bottom: 10px;">
            <!--<h2 class="form-login-heading">Product List</h2>-->
            <a href="#/product" class="btn btn-info btn-lg"><span translate>Productadd</span></a>
        </div>
        <div class="col-md-12">

            <div class="panel panel-info">
                <div class="panel-heading"><span translate>Product</span></div>

                <div data-ng-repeat="product in productList" class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="title" class="col-md-2 control-label"><span translate>Name</span></label>
                            <div class="col-md-10">
                                <!--<input type="text" ng-model="product.Name" name="Name" class="form-control" />-->
                                {{ product.name }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class="col-md-2 control-label"><span translate>Description</span></label>
                            <div class="col-md-10">
                                <!--<textarea ng-model="product.description" name="description" class="form-control"></textarea>-->
                                {{ product.description }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-md-2 control-label"><span translate>Price</span></label>
                            <div class="col-md-10">
                                <!--<input type="number" ng-model="product.Price" name="Price" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />-->
                                {{ product.price }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="attachment" class="col-md-2 control-label"><span translate>Picture</span></label>
                            <div class="col-md-10">
                                <img src="data:image/jpeg;base64,{{product.picture}}" alt="pic" />
                            </div>
                        </div>
                    </form>
                    <hr />
                </div>
            </div>

            <!--<table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th><span translate>Name</span></th>
                        <th><span translate>Description</span></th>
                        <th><span translate>Price</span></th>
                        <th><span translate>Picture</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="product in productList">
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            <img src="data:image/jpeg;base64,{{product.picture}}" alt="pic" width="30" />
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>