<div class="row" style="padding-top:20px">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading"><span translate>Product</span></div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label"><span translate>Name</span></label>
                        <div class="col-md-10">
                            <input type="text" ng-model="product.Name" name="Name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label"><span translate>Description</span></label>
                        <div class="col-md-10">
                            <textarea ng-model="product.description" name="description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title" class="col-md-2 control-label"><span translate>Price</span></label>
                        <div class="col-md-10">
                            <input type="number" ng-model="product.Price" name="Price" class="form-control" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attachment" class="col-md-2 control-label"><span translate>Picture</span></label>
                        <div class="col-md-10">
                            <input type="file" name="Image" class="form-control" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" />
                            <!--<input type="hidden" id="Attachment" name="Attachment" ng-model="product.Attachment" />-->
                        </div>
                    </div>

                    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="saveProduct()"><span translate>Submit</span></button>
                </form>
            </div>


        </div>
    </div>
</div>

