<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <!--<h1 translate>ConfirmPassword</h1>
      <h1 translate>
          Female
      </h1>-->
    <!--<a class="btn btn-default" ng-click="setLanguage('en')">English</a>
    <a class="btn btn-default" ng-click="setLanguage('es')">Spanish</a>
    <a class="btn btn-default" ng-click="setLanguage('fr')">French</a>-->
    <span translate> Email</span>
    <input type="email" class="form-control" data-ng-model="registration.userName" required autofocus>
    <!--<input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>-->
    <span translate> Password</span>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <span translate> ConfirmPassword</span>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <span translate> FirstName</span>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required>
    <span translate> LastName</span>
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required>
    <!--<input type="text" class="form-control" placeholder="Gender" data-ng-model="registration.gender" required>-->
    <!--<input type="text" class="form-control" placeholder="Role" data-ng-model="registration.role" required>-->
    <!--<select class="form-control" data-ng-model="registration.roleName">
        <option value="">--Select Role--</option>
        <option data-ng-repeat="t in role" value="">{{t.name}}</option>
    </select>-->
    <label>
        <input type="radio" ng-model="gender.name" ng-value="'Male'">
        <span translate>Male</span>
    </label>
    <label>
        <input type="radio" ng-model="gender.name" ng-value="'Female'">
        <span translate>Female</span>
    </label>
    <br />
    <label>
        <input type="radio" ng-model="registration.roleName" ng-value="'User'">
        <span translate>User</span>
    </label>
    <label>
        <input type="radio" ng-model="registration.roleName" ng-value="'Provider'">
        <span translate>Provider</span>
    </label>


    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
