<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.userName" required autofocus>
    <!--<input type="text" class="form-control" placeholder="Username" data-ng-model="registration.userName" required autofocus>-->
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
    <input type="text" class="form-control" placeholder="First Name" data-ng-model="registration.firstName" required>
    <input type="text" class="form-control" placeholder="Last Name" data-ng-model="registration.lastName" required>
    <!--<input type="text" class="form-control" placeholder="Gender" data-ng-model="registration.gender" required>-->
    <!--<input type="text" class="form-control" placeholder="Role" data-ng-model="registration.role" required>-->
    <select class="form-control" data-ng-model="registration.roleName">
        <option value="">--Select Role--</option>
        <option data-ng-repeat="t in role" value="">{{t.name}}</option>
    </select>

    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>